In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df_causes = pd.read_csv('data/cause.csv')
df_causes.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2755,55.5
1,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,439,63.1
2,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4010,54.2
3,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1604,51.8
4,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,California,13213,32.0

In [3]:
df_causes_summed_state = df_causes.groupby(by=['Cause Name', 'Year'])['Deaths'].sum()
df_causes_summed_state.head()

Cause Name  Year
All causes  1999    4782798
            2000    4806702
            2001    4832850
            2002    4886774
            2003    4896576
Name: Deaths, dtype: int64

In [4]:
# Plot the number of deaths from above (different line for each cause, x axis year, y axis deaths)
# Vertical lines sections highlighted around the recessions in the background

In [5]:
df_disparity = pd.read_csv('data/cleaned_income_dispersion.csv', index_col=0)
df_disparity.head()

,10th percentile limit,20th percentile limit,40th percentile limit,50th (median),60th percentile limit,80th percentile limit,90th percentile limit,95th percentile limit,Year
0,14219,24638,47110,61372,77552,126855,179077,237034,2017
1,13901,24518,46581,60309,76479,123621,174203,230095,2016
2,13719,23591,45020,58476,74498,121060,167804,221900,2015
3,12724,22213,42688,55613,70699,116355,163221,214100,2014
4,12858,22134,43251,56479,70830,116186,163821,216208,2013

In [6]:
# Plot the line across time with a strong line the median and a fading area from that median
# x axis year, y axis disparity limit
# Vertical lines sections highlighted around the recessions in the background

In [7]:
df_births = pd.read_csv('data/historic_birth_death.csv')
df_births.index = df_births['Year']
df_births.head()

,Year,"Births (1,000)","Deaths (1,000)","Infant Deaths (1,000)","Marriages (1,000)","Divorces (1,000)",Births Rate Per 1000,Death Rate per 1000,Infant Death Rate Per 1000,Marriage per 1000,Divorce per 1000
Year,,,,,,,,,,,
1960,1960,"4,258","1,712",111.0,"1,523",393,23.7,9.5,26.0,8.5,2.2
1965,1965,"3,760","1,828",93.0,"1,800",479,19.4,9.4,24.7,9.3,2.5
1970,1970,"3,731","1,921",75.0,"2,159",708,18.4,9.5,20.0,10.6,3.5
1971,1971,"3,556","1,928",68.0,"2,190",773,17.2,9.3,19.1,10.6,3.7
1972,1972,"3,258","1,964",60.0,"2,282",845,15.6,9.4,18.5,10.9,4.0

In [8]:
# Plot the births, marriages, divorces, etc over the years
# x axis year, y axis value
# Vertical lines sections highlighted around the recessions in the background

In [9]:
df_births.plot(df_births['Year'], df_births['Births  (1,000)'])

KeyError: "['1960' '1965' '1970' '1971' '1972' '1973' '1974' '1975' '1976' '1977'\n '1978' '1979' '1980' '1981' '1982' '1983' '1984' '1985' '1986' '1987'\n '1988' '1989' '1990' '1991' '1992' '1993' '1994' '1995' '1996' '1997'\n '1998' '1999' '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007'\n '2008' ' '] not in index"

In [ ]:
print(df_births.columns)

In [ ]:
print(df_births.all(df_births['Year'].notnull))

In [ ]:
dir(df_births['Year'])

In [ ]:
df_births['Year'].notnull?